<?xml version="1.0" encoding="UTF-8"?>
<db-configuration>
    <database>
        <query>
            <
                CREATE DATABASE clity;
            >
        </query>
    </database>
    <tables>
        <POSTS>
            <query>
                <
                    CREATE TABLE clity_posts (
                    id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
                    title VARCHAR(100) NOT NULL,
                    date TIMESTAMP,
                    content TEXT,
                    allow_comments TINYINT(1),
                    deleted TINYINT(1),
                    author INT(6) UNSIGNED NOT NULL,
                    img_url VARCHAR(255)
                    )
                >
            </query>
        </POSTS>
        <USERS>
            <query>
                < 
                    CREATE TABLE clity_users (
                    id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
                    username VARCHAR(50) NOT NULL,
                    email VARCHAR(50),
                    created TIMESTAMP
                    )
                >
            </query>
        </USERS>
        <COMMENTS>
            <query>
                <
                    CREATE TABLE clity_comments (
                    id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
                    comment VARCHAR(50) NOT NULL,
                    commenter_id INT(6),
                    created TIMESTAMP,
                    deleted TINYINT(1)
                    )
                >
            </query>
        </COMMENTS>
    </tables>
</db-configuration>